.tech-btn-primary, .tech-primary{
    background-color: #289BDE;
    color: #ffffff;
}
.tech-btn-primary:hover{
    background-color: #0076ba;
    color: #ffffff;
}
.a-section-mt{
    margin-top: 100px;
}
.price-color{
    color: #289BDE;
}

.elearning-bg{
    background-color: #F4FAFD;
}
.modal-btn-primary{
    background-color: #ffffff;
    color: #289BDE;
}

