/* common section */
.a-section-mt{
    margin-top: 100px;
}
.tech-btn-primary, .tech-primary{
    background-color: #289BDE;
    color: #ffffff;
}
.tech-btn-primary:hover{
    background-color: #0076ba;
    color: #ffffff;
}

/* header section */
.banner-top{
    margin-top: 65px;
}

/* courses */
.price-color{
    color: #289BDE;
}

/* elearning section */
.elearning-bg{
    background-color: #F4FAFD;
}
/* register section */
.modal-btn-primary{
    background-color: #ffffff;
    color: #289BDE;
}

/* footer section */
.tech-fp{
    padding: 100px 0;
}

.tech-social i:hover{
    color: #289BDE;
}

